body {
    min-height: 100vh;
    margin-bottom: 70px;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;

}

.profile-pic {
    width: 160px;
    height: 160px;
    border: 2px solid #333;
    margin-right: 20px;
    object-fit: cover;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    margin-right: 15px;
    color: #333;
    font-size: 24px;
    transition: color 0.2s ease;
}

.social-icons a:hover {
    color: #0077b5; /* LinkedIn blue color */
}

#github:hover {
    color: #00b500; /* Green color */
}


.social-icons a:last-child:hover {
    color: #cd4f4f; /* Gmail red color */
}

.intro {
    text-align: left;
    max-width: 500px;
    width: 100%;
}

.intro h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 100%;
}

.container img {
    border: 3px solid #333;
    object-fit: cover;
    height: 180px;
    width: 180px;
}
.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

